name: Lint

on: [push, pull_request]

jobs:
  lint:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [24.13.0]

    steps:
      - uses: actions/checkout@v6.0.2
      - name: Install pnpm
        uses: pnpm/action-setup@v4.2.0
        with:
          version: 10.28.1
          run_install: false
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v6.2.0
        with:
          node-version: ${{ matrix.node-version }}
          cache: 'pnpm'
      - name: Install
        run: |
          corepack enable
          pnpm i --frozen-lockfile
      - name: eslint
        run: |
          pnpm eslint
